@page "/about"
<h3>About</h3>

<h2>参考</h2>
<p>
    <a target="_blank" href="https://j.cocacola.co.jp/info/faq/detail.htm?faq=19112">https://j.cocacola.co.jp/info/faq/detail.htm?faq=19112</a> <span class="oi oi-external-link pl-1" aria-hidden="true"></span> <br />
    <a target="_blank" href="https://ja.wikipedia.org/wiki/%E3%82%AB%E3%83%95%E3%82%A7%E3%82%A4%E3%83%B3%E4%B8%AD%E6%AF%92">https://ja.wikipedia.org/wiki/カフェイン中毒</a> <span class="oi oi-external-link pl-1" aria-hidden="true"></span>
</p>

<h2>画像素材</h2>
<p>
    <a target="_blank" href="https://www.irasutoya.com/">https://www.irasutoya.com/</a> <span class="oi oi-external-link pl-1" aria-hidden="true"></span>
</p>
